$primaryColor: rgba(14,103,195,255);
$shadePrimaryColor: rgba(7,71,137,255);
$whitePrimary: rgba(220,233,246,255);
$accentColor: rgba(210,152,40,255);
$textColorThresholdLight: #767676;
$textColorLight: #333;
$textColorMedium: #222;
$textColorBold: #111;